Repository LedgerHQ/ledger-live-mobile, changes with the owners that CODEOWNERS names for each.
All owners: @ledgerhq/live-hub, @ledgerhq/live-devx, @ledgerhq/live-blockchain-support, @ledgerhq/live-devices, @ledgerhq/live-platform-and-services

Bump iOS version to v2.35.1-313
  ios/ledgerlivemobile.xcodeproj/project.pbxproj
  ios/ledgerlivemobile/Info.plist
  ios/ledgerlivemobileTests/Info.plist
Owners: @ledgerhq/live-hub

rebrand: add text input component wrapper
  src/components/TextInput.android.tsx
  src/components/TextInput.ios.tsx
  src/components/TextInput.tsx
Owners: @ledgerhq/live-hub

Bump iOS version to v2.35.1-313
  ios/ledgerlivemobile.xcodeproj/project.pbxproj
  ios/ledgerlivemobile/Info.plist
  ios/ledgerlivemobileTests/Info.plist
Owners: @ledgerhq/live-hub

Add SelectCollection/Nft steps to SendFunds flow
  src/components/RootNavigator/SendFundsNavigator.js
  src/const/navigation.js
  src/screens/SendFunds/01b-SelectCollection.js
  src/screens/SendFunds/01c-SelectNft.js
Owners: @ledgerhq/live-hub

Rename Amount SendFunds step
  src/components/RootNavigator/SendFundsNavigator.js
  src/const/navigation.js
  src/screens/SendFunds/02-SelectRecipient.js
  src/screens/SendFunds/03a-AmountCoin.js
Owners: @ledgerhq/live-hub

Rename send step 1 SendFundsMain → SendCoin
  src/components/RootNavigator/SendFundsNavigator.js
  src/const/navigation.js
  src/index.js
  src/modals/Create.js
  src/navigation/useDeepLinking.js
  src/screens/SendFunds/01a-SelectAccount.js
  src/screens/SendFunds/ScanRecipient.js
Owners: @ledgerhq/live-hub

Fix wrong import name
  src/screens/OperationDetails/Title.js
Owners: @ledgerhq/live-hub

Add NFT specific Amout step to SendFunds flow
  src/components/RootNavigator/SendFundsNavigator.js
  src/const/navigation.js
  src/locales/en/common.json
  src/screens/SendFunds/02-SelectRecipient.js
  src/screens/SendFunds/03b-AmountNft.js
Owners: @ledgerhq/live-hub

Update experimental.js
  src/experimental.js
Owners: @ledgerhq/live-hub

Make NftImage show error on failing uri source
  src/components/Nft/NftImage.js
Owners: @ledgerhq/live-hub

Add NFT to SendFunds summary step
  src/screens/SendFunds/04-Summary.js
  src/screens/SendFunds/SummaryNft.js
Owners: @ledgerhq/live-hub

Add send buttons to NFTs
  src/components/Nft/NftViewer.js
  src/screens/Nft/NftCollection/index.js
  src/screens/Nft/NftGallery/index.js
Owners: @ledgerhq/live-hub

live-common upgrade
  package.json
  src/live-common-setup.js
  yarn.lock
Owners: @ledgerhq/live-hub, @ledgerhq/live-blockchain-support

update icon lib
  package.json
  yarn.lock
Owners: @ledgerhq/live-hub

Update live-common-setup.js
  src/live-common-setup.js
Owners: @ledgerhq/live-blockchain-support

hide link button if no link
  src/components/Nft/NftLinksPanel.js
Owners: @ledgerhq/live-hub

Fixes textinput glitch on Send Amount NFT
  src/screens/SendFunds/03b-AmountNft.js
Owners: @ledgerhq/live-hub

Fix nft link typo
  src/components/Nft/NftLinksPanel.js
  src/components/Nft/NftViewer.js
Owners: @ledgerhq/live-hub

Remove quantity proxy from NFT Amount send step
  src/screens/SendFunds/03b-AmountNft.js
Owners: @ledgerhq/live-hub

Update error rendering in NFT send Amout step
  src/screens/SendFunds/03b-AmountNft.js
Owners: @ledgerhq/live-hub

Remove useless useState
  src/screens/SendFunds/03b-AmountNft.js
Owners: @ledgerhq/live-hub

Bump android version to v2.35.1-4194535
  android/app/build.gradle
Owners: @ledgerhq/live-hub

Reverting yarn.lock
  yarn.lock
Owners: @ledgerhq/live-hub

Bump iOS version to v2.35.1-314
  ios/ledgerlivemobile.xcodeproj/project.pbxproj
  ios/ledgerlivemobile/Info.plist
  ios/ledgerlivemobileTests/Info.plist
Owners: @ledgerhq/live-hub

CODEOWNERS:

*                                      @ledgerhq/live-hub
.github                                @ledgerhq/live-devx
fastlane                               @ledgerhq/live-devx
src/families                           @ledgerhq/live-blockchain-support
src/live-common-setup.js               @ledgerhq/live-blockchain-support
src/components/DeviceAction            @ledgerhq/live-devices
src/screens/Exchange                   @ledgerhq/live-platform-and-services
